# Python
__pycache__/
*.pyc
venv/
.venv/
*.egg-info/

# Node
node_modules/
dist/
build/
.vite/

# Env / secrets
.env
.env.local
*.pem
*.key

# OS/editor
.DS_Store
.vscode/
.idea/

# Logs
*.log

# DB
*.sqlite3


# Docker
*.pid
